    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .navbar-inverse{
      background-color: #F4A460;
      border-color: #F4A460;
    }

    .active>a{
      color: #000000   !important;
      background-color: #808080 !important;
    }

    .navbar-inverse a{
      color: #FFE4E1 !important;
      font-weight: bolder;
    }
    
    body {
      background-color: #FFFFFF;
      font-family: Cambria;
    }
    
    .carousel-inner img {
      width: 80%; 
      margin: auto;
      min-height:200px;
    }

    .carousel-control{
      background-image: unset !important;
    }

    .row{
      color: #696969;
      font-family: Cambria;
      font-size: 100%;
    }

    .row1{
      color: #696969;
      font-family: Cambria;
    }

    .col-lg-12{
      padding: 25px;
    }

    .text-cntr{
      font-size: 400%
    }

    .text-cntrr{
      font-size: 250%;
      padding: 25px;
    }

    .img-cntr{
      margin: auto;
      margin-top: 50px;
      float: unset;
    }

    .img-cntr:first-child{
      margin-top: 0;
    }

    .glyphicon-chevron{
      color: #000000;
    }

    .glyphicon-log-in{
      padding: 0 5px 0 5px;
    }

    footer {
      background-color: #F4A460;
      max-width: 1045px; 
      padding: 10px 65px;
      margin-top: 50px   
    }

    .list-inline {
      margin: auto;
      padding: 20px;
   }

    .copyright {
      font-size: 15px;
      padding-top: 30px;

    }

    .undericons{
      padding-top: 10px;
      font-size: 150%;
    }

    .text-inside{
      font-size: 170%;
      font-weight: normal;
      padding: 10px;
    }

    .text-inside-header{
      color: #FF0000;
      font-size: 220%;
      font-weight: bold;
    }

/*Авторизация*/
* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 15px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Конец*/

